/* search form stuff */

/* reset webkit search input browser style */
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; /* remove the search and cancel icon */
}

/* search input field */
input[type=search] {
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  background-position: 8px 6px;
  border: solid 1px #ccc;
  padding: 4px 8px 4px 7px;
  width: 55px;
  position: relative;
  top: 10px;
  padding-left: 30px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  font-size: 14px;
  float: right;
  margin-right: 10px;
}

input[type=search]:focus {
  width: 130px;
  background-color: #fff;
}

#searchForm input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}

#searchForm input[type=search]:hover {
  background-color: #fff;
}

#searchForm input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}

#searchForm input:-moz-placeholder {
  color: transparent;
}

#searchForm input::-webkit-input-placeholder {
  color: transparent;
}